* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(197, 0, 0);
  font-family: 'Notable', sans-serif;
  background: url(./E38Pj-jXwAUkgBn.jpg);
  background-size: 1920px 1000px;
  background-repeat: no-repeat;
}

p {
  text-align: center;
  font-size: 100px;
  margin-top: 20%;
  text-shadow: 2px 2px #fff;
}